@import "../variables.scss";

.users-own-deink {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    color: $color-black;
}

.own-drink-popup-holder {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
   

    .close-icon{
        fill: red;
        cursor:pointer;
    }

    .own-drink-input-name {
        @include border-1-solid-black;
    }

    .own-drink-img-holder {
        @include border-1-solid-black;

    }

    .own-drink-desc {
        height: 200px;
        max-height: 200px;
        min-height: 100px;
        @include border-1-solid-black;
    }

}

.user-details-holder {
    color: $color-white;

    .user-data-input {
        background-color: rgb(247, 252, 241);
        color: $color-black;
        box-shadow: 0px 6px 4px 0px $color-black;
        border-radius: 20px;
        padding: 0.6rem;
    }

    .user-data-button-submit {
        border-radius: 15px;
        padding: 0.3rem;
        background-color: rgb(131, 249, 110);
        color: $color-black;

        &:active {
            background-color: rgb(67, 245, 36);
            transform: translateY(2px);
        }
    }

    .about-me {
        color: $color-white;
    }

    .badges-holder {
        border: solid white 1px;
        height: 300px;
        overflow-y: auto;

        .badges-start {
            font-size: 20px;
        }
    }

    .scroll-arrow-fav-own {
        fill: white;
        cursor: pointer;
    }

    .user-favourite-frinks-holder {
        margin-top: 4rem;
        margin-left: 1rem;
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;

        .user-favourite-frinks {
            padding-left: 100px;

        }
    }

    .add-your-drink-button {
        background-color: rgb(7, 201, 7);
        border-radius: 15px;
        color: $color-black;

    }

    .edit-your-drink-button {
        background-color: yellow;
        border-radius: 15px;
        color: $color-black;
    }
}