@import "../variables.scss";

.users-own-deink {
    background: linear-gradient(to top right, rgb(255, 255, 255), rgb(50, 50, 50));
    border: 2px solid black;
    border-radius: 5px;
    color: $color-black;

    .own-drink-box-input {
        border-bottom: solid 1px black;

        .own-drink-input-name {
            background-color: transparent;
            border: none;
            color: rgb(0, 0, 0);
            outline: none;

            &::placeholder {
                color: black;
            }
        }
    }

    .file-drink-input {
        color: red;

    }

}

.own-drink-popup-holder {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);


    .close-icon {
        fill: red;
        cursor: pointer;
    }

    .own-drink-input-name {
        @include border-1-solid-black;
    }

    .drink-img-box {
        background-color: transparent;

        .own-drink-img-holder {
            background-color: transparent;
            @include border-1-solid-black;

        }
    }


    .own-drink-desc {
        height: 200px;
        max-height: 200px;
        min-height: 100px;
        background: linear-gradient(to top right, rgb(255, 255, 255), rgb(172, 172, 172));
        border: 2px black solid;
        border-radius: 10px;

    }

}

.user-img-holder {
    padding: 2px;
    background-color: rgb(26, 26, 26);
    text-align: center;

    .user-img {
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
        max-height: 350px;
        width: 100%;

    }

}

.user-details-holder {
    color: $color-white;

    .user-data-box {
        border-bottom: 1px solid white;

        &-input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
                color: white;
            }
        }

    }

    .user-data-button-submit {
        @include user-profile-button;
        background-color: rgb(255, 255, 255);

        &:active {
            background-color: rgb(216, 216, 216);
            transform: translateY(2px);
        }
    }

    .about-me {
        color: $color-white;
    }

    .badges-holder {
        border: solid white 2px;
        height: 300px;
        overflow-y: auto;

        .badges-start {
            font-size: 20px;
        }
    }

    .scroll-arrow-fav-own {
        fill: white;
        cursor: pointer;
    }

    .favourite-holder-user-drink {
        margin-bottom: 7rem;
        padding: 1.5rem;
        position: relative;
    }
    

    .favourite-holder-user-drink::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 2px;
        background-color: red;
        transform: translateX(-100%);
        animation: border-move 5s infinite linear ;
    }
    
    
    @keyframes border-move {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(10000%);
        }
    }
    
    .user-favourite-frinks-holder {
        margin-top: 4rem;
        margin-left: 1rem;
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;

    }

}

.add-your-drink-button {
    @include user-profile-button;
    background-color: rgb(100, 253, 110);

    &:active {
        transform: translateY(2px);
    }
}

.edit-your-drink-button {
    @include user-profile-button;
    background-color: rgb(217, 255, 103);

    &:active {
        transform: translateY(2px);
    }
}
