@import "../variables";


.footer {
    color: $color-white;
    background-color: $bg-ligherDark;


    .desc-container {
        max-width: $n-400px;
        @include fs-13-color-light-grey;
    }

    .contact {
        @include fs-13-color-light-grey;
    }

    &-links {
        @include fs-13-color-light-grey;
    }

    .instagram-icon  {
       cursor: pointer; 
      }
      
    .facebook-icon {
        cursor: pointer; 
        transition: all 0.3s ;

        &:hover {
            fill: rgb(25, 119, 243)

         }
    }

}

.copyright {
    @include fs-13-color-light-grey;
    background-color: $bg-dark;

}