@import "variables.scss";

.drink-holder {
    color: $color-white;



    .drink-main-container {

        .star {
            fill: $color-gold;
        }

        .img-holder {
            height: 300px;
            width: $n-500px;

            .drink-img {
             height: 100%;
             width: 100%;
            }
        }

        .description-holder {
            max-width: 700px;
            max-height: 300px;
        }

        .ingrediets-list {
            max-width: 350px;
            max-height: 250px;

            &-elm {
                list-style-type: disc;
            }
        }

        .preparation-holder {
            height: $n-400px;
            max-height: $n-400px;
        }


        .basic-information-drink {

            .drink-creator {
                color: $color-black;
            }

            .diff-level {
                background-color: $color-light-l-green;
                color: $color-black;
            }

            .drink-taste {
                background-color: $color-light-d-green;
                color: $color-black;
            }
        }
    }
}