@import "variables.scss";

.drink-holder {
    color: $color-white;



    .drink-main-container {

        .rate {
            color: gold;
        }

        .star {
            fill: $color-gold;
        }

        .img-holder {
            height: 300px;

            .img-helper {

                box-shadow: 5px 0px 5px 0px white;
            }
        }


        .description-holder {
            max-width: 700px;
            max-height: 300px;
        }



        .ingrediets-list {
            max-width: 350px;
            max-height: 250px;

            &-elm {
                list-style-type: disc;
            }
        }


        .mt-20 {
            margin-top: 200px;

            .preparation-holder {
                height: $n-400px;
                max-height: $n-400px;
            }

        }

        .basic-information-drink {

            .drink-creator {
                color: $color-black;
            }

            .diff-level {
                background-color: $color-light-l-green;
                color: $color-black;
            }

            .drink-taste {
                background-color: $color-light-d-green;
                color: $color-black;
            }
        }
    }
}