@import "variables.scss";

.drink-holder {
    color: $color-white;
    
    .drink-main-container {

        .rate {
            color: $color-gold;
        }

        .star {
            fill: $color-gold;
        }

        .img-holder {
            height: 300px;

            .img-helper {

                box-shadow: 5px 0px 5px 0px $color-white;
            }
        }

        .description-holder {
            max-width: 700px;
            max-height: 300px;
        }

        .ingrediets-list {
            max-width: 350px;
            max-height: 250px;

            &-elm {
                list-style-type: disc;
            }
        }
        
        

            .preparation-holder {
                height: $n-400px;
                max-height: $n-400px;

                .nextPageArrow{
                    fill: aliceblue;
                    &:hover{
                        fill: rgb(163, 161, 161);

                    }
                }


                .pagination{

                    a {
                        padding-left: 7px;
                        font-size: 20px;
                        font-weight: 700;
                        &:hover{
                            color: rgb(163, 161, 161);

                        }

                       
                  
                    }
                    .selected{
                        color: rgb(185, 128, 128);
                    }
                  
                
                }
                
                
            }

        

        .basic-information-drink {

            .drink-creator {
                color: $color-black;
            }

            .diff-level {
                background-color: $color-light-l-green;
                color: $color-black;
            }

            .drink-taste {
                background-color: $color-light-d-green;
                color: $color-black;
            }
        }
    }
}

