@import "variables.scss";

.main {
    color: $color-white;

    .drin-window {

        background-color: $bg-ligherDark;
        box-shadow: 0px 0px 5px 5px rgb(78, 78, 78);
        cursor: pointer;


        .img-holder {
                background-color: transparent;
                border:  rgb(48, 48, 48) 3px solid;
                
            .drink-img {
                max-height: 350px;
                height: 350px;
                width: 100%;
            }
        }

        .basic-information-drink {

            .drink-name {
                color: $color-white;
            }

            .drink-creator {
                color: $color-black;
            }

            .diff-level {
                background-color: $color-light-l-green;
                color: $color-black;
            }

            .rate {
                color: $color-gold;
                font-size: 20px;

                .star {
                    fill: $color-gold;
                }
            }

            .drink-taste {
                background-color: $color-light-d-green;
                color: $color-black;

            }
        }
    }
}