@import "variables.scss";

    .main {
        color: $color-white;

        .drin-window {
            @include drinksHolder;

            @media (min-width: 1854px) {
                width: calc(100% / 5);
            }
            
            .img-holder {
                background-color: transparent;
                border: rgb(48, 48, 48) 3px solid;

                .drink-img {
                    max-height: 350px;
                    height: 350px;
                    width: 100%;

                }
            }
            .basic-information-drink {
                @include basicDrinksInf;

                .rate {
                    color: $color-gold;
                    font-size: 20px;

                    .star {
                        fill: $color-gold;
                    }
                }
                .drink-taste {
                    background-color: $color-light-d-green;
                    color: $color-black;

                }
            }
        }
    }
