//colors
$bg-dark: rgb(22, 22, 22);
$bg-ligherDark: rgb(37, 37, 37);
$color-light-l-green: rgb(6, 212, 6);
$color-light-d-green: rgb(7, 243, 125);
$color-white: white;
$color-black: black;
$color-gold: gold;
$color-red: red;
$color-light-grey: rgb(185, 184, 184);
$color-rgb-163-161-161: rgb(163, 161, 161);

//transitions
$trans-all-03-eio: all .3s ease-in-out;
$trans-all-05-eio: all .5s ease-in-out;

//procents %
$proc-20 : 20%;

//numbers PX
$n-700px: 700px;
$n-500px: 500px;
$n-450px: 450px;
$n-400px: 400px;
$n-350px: 350px;
$n-300px: 300px;
$n-250px: 250px;
$n-150px: 150px;
$n-120px: 120px;

//displays
$d-flex: flex;
$d-none: none;

//font-sizes
$font-size-15: 15px;
$font-size-13: 13px;

@mixin fs-13-color-light-grey {
    font-size: $font-size-13;
    color: $color-light-grey;
}

@mixin pagination {

    li:first-child,
    li:last-child {
        a {
            background-color: transparent !important;
            border: none;
            margin: 0;
        }
    }

    li {
        &:hover {
            color: black;
        }
    }

    a {
        font-size: 20px;
        font-weight: 700;
        padding-left: 3.5px;
        padding-right: 5px;
        margin-top: 20px;
        position: relative;
        border: 2px solid white;
        border-radius: 4px;
        margin-left: 3px;
        margin-right: 3px;
        transition: all 0.25s ease-in-out;

        &:hover {
            background-color: rgb(191, 181, 181);
        }

    }

    .selected {
        color: rgb(248, 170, 13);

    }

}

.arrowPagination {
    fill: white;
    background-color: transparent;
}

.arroPagi {
    fill: white;
    transition: fill 0.2s ease-in-out;

    &:hover path {
        fill: rgb(191, 181, 181);
    }
}

@mixin drinksHolder {
    background-color: $bg-ligherDark;
    box-shadow: 0px 0px 5px 5px rgb(78, 78, 78);
    cursor: pointer;

}

@mixin border-1-solid-black {
    border: 1px solid black;
    border-radius: 5px;
}

@mixin drinks {
    border-radius: 18px;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;
    color: $color-black;
}

@mixin basicDrinksInf {
    .drink-name {
        color: $color-white;
    }

    $drinks: (
        drinks: true,
        d-flex-grow-1-text-align-center-screen575: true
    );

    //drinks info
.drink-creator,
.diff-level,
.sourClass,
.sweetClass,
.alkoClass,
.softClass,
.bitterClass,
.easyLevelClass,
.mediumLevelClass,
.hardLevelClass {
    @include drinks;
    @include d-flex-grow-1-text-align-center-screen575();

    &.sweetClass {
        background-color: rgb(247, 71, 124);
    }

    &.sourClass {
        background-color: rgb(218, 255, 32);
    }

    &.bitterClass {
        background-color: rgb(123, 98, 98);
    }

    &.easyLevelClass {
        background-color: rgb(10, 226, 10);
    }

    &.mediumLevelClass {
        background-color: rgb(239, 212, 14);
    }

    &.hardLevelClass {
        background-color: rgb(255, 111, 0);
    }


    &.diff-level {
        background-color: $color-light-l-green;
        color: $color-black;
    }

    &.drink-creator {
        color: $color-black;
    }

    &.softClass {
        background-color: rgb(154, 246, 249);

        @media (max-width: 575px) {
            margin-top: 0.6rem;
        }
    }

    &.alkoClass {
        background-color: rgb(255, 0, 0);

        @media (max-width: 575px) {
            margin-top: 0.6rem;
        }

    }
}

}

@mixin d-flex-grow-1-text-align-center-screen575 {
    @media (max-width: 768px) {
        flex-grow: 1;
        text-align: center;
    }
}