@import "setingsPopup.scss";
@import "loginPopup.scss";
@import "navbar.scss";
@import "specialPopup.scss";
@import "drinksDetails.scss";
@import "drink.scss";
@import "footer.scss";



body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}


.arrowUP-holder {
    top: 80%;

    .arrow-up {
        fill: rgb(214, 214, 214);

    }
}