@import "setingsPopup.scss";
@import "loginPopup.scss";
@import "navbar.scss";
@import "specialPopup.scss";
@import "drinksDetails.scss";
@import "drink.scss";
@import "footer.scss";
@import "userProfile.scss";
@import "userProfiil.scss";
@import "userDrinks.scss";

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}


.pagination {
    @include pagination;
}

.arrowUP-holder {
    top: 80%;

    .arrow-up {
        fill: white;
        
        &:hover{
            fill: rgb(251, 210, 156);
        }
    }
}

li {
    list-style: none;
    text-decoration: none;
}
