@import '../../variables.scss';

.userDataChangeHolder {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;

    .select-role-inputs {
        background-color: rgb(242, 242, 242);
        font-size: 18px;
        transition: all 0.2s ease-in-out;

    }

    .close-icon {
        fill: red;
        cursor: pointer;
    }

    .log-reg-icon-holder {
        border-radius: 5px 0px 0px 5px;
        background-color: rgba(0, 0, 0, 0.779);
        padding: 7px;
        border-right: $border-1-solid-black;

        .login-register-icon {
            fill: $rgb-255;
        }
    }

    .login-register-input-data {
        background-color: rgb(232, 231, 231);
        border: $border-1-solid-black;
        border-left: none;
        padding-top: 0;
        outline: none;
        border-left: 0;
        padding: 6px;
        border-radius: 0px 10px 10px 0px;
        transition: all .3s ease-in-out;

        &:focus {
            background-color: rgba(0, 0, 0, 0.779);
            color: white;
        }
    }
}

.user-submit-user-data {
    border-radius: 10px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s ease-in-out;
    font-size: 18px;
    background-color: rgb(210, 210, 210);

    &:hover {
        background-color: black;
        color: white;

    }

}


.drinks-profile-holder {
    border: 2px solid white;
    border-radius: 15px;


    .sourClass {
        color: rgb(218, 255, 32);
    }


    .sweetClass {
        color: rgb(247, 71, 124);
    }

    .sourClass {
        color: rgb(218, 255, 32);
    }

    .bitterClass {
        color: rgb(143, 126, 126);
    }

    .easyLevelClass {
        color: rgb(91, 208, 91);
    }

    .mediumLevelClass {
        color: rgb(239, 212, 14);
    }

    .hardLevelClass {
        color: rgb(255, 111, 0);
    }

    .diff-level {
        color: $color-light-l-green;
    }

    .drink-creator {
        color: $color-black;
    }

    .softClass {
        color: rgb(154, 246, 249);
    }

    .alkoClass {
        color: rgb(243, 22, 22);
    }

    .data-holder {

        @media (max-width: 1800px) {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .drink-name-profile {
            max-height: 100px;
            overflow-y: auto;
        }

        @media (max-width: 1100px) {
            flex-direction: column;
        }

        .margin-top-12 {
            @media (max-width: 1000px) {
                margin-top: 0.5rem !important;
                margin-bottom: 0.5rem !important;
                display: flex;
                flex-direction: column;
            }
        }

        .drink-profile-holder-IMG {
            border: 1px solid white;
            border-radius: 10px;

            @media (max-width: 576px) {
                margin-right: 1.5rem;
            }

            .drink-profile-img {
                object-fit: cover;
                border-radius: 10px;
                max-height: 200px;
                min-height: 200px;
                min-width: 250px;
                max-width: 250px;

                @media (max-width: 1399px) {
                    max-width: 450px;
                    width: 450px;
                    height: 450px;
                    max-height: 450px;
                }

                @media (max-width: 680px) {
                    max-width: 350px;
                    width: 350px;
                }

                @media (max-width: 576px) {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    .drink-name-profile {
        font-size: 22px;
        font-weight: 700;
        color: rgb(252, 218, 174);
    }

    .details-button-holder {

        @media (max-width: 1700px) {
            flex: 0 0 49.6666%;
            max-width: 49.6666%;
        }

        .block-drink-icon-block {
            fill: rgb(255, 255, 255);
        }

        .block-drink-icon-no-block {
            fill: rgb(255, 172, 78);
        }

        .details-button {
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            font-size: 17px;
            letter-spacing: 1px;
            padding: 4px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 18px;
            margin-left: 8rem;

            @media (max-width: 1400px) {
                margin-left: 0;
            }
        }

        .userDataChangerError {
            margin-left: 8.2rem;
            color: red;
            margin-top: 1rem;
        }

        .user-data-input {
            border-radius: 10px;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        .submit-button {
            font-size: 0;
            background: none;
            border: none;

        }

        .details-change-button {
            fill: rgb(4, 210, 4);
            cursor: pointer;
        }
    }


    .delete-profile {
        margin-left: 15rem;

        @media (max-width: 1800px) {
            margin-left: 1rem;
        }

        &-icon {
            fill: red;
            cursor: pointer;
        }

        .block-drink-icon {
            fill: rgb(223, 240, 255);
            cursor: pointer;
        }

        .accept-derink-icon {
            fill: greenyellow;
            cursor: pointer;
        }

    }
}