@import './\ chartActifityUser';
@import './adminDB';
@import './drinkProfile';

.admin-header-holder {

    .admin-header {
        color: white;
        letter-spacing: 1px;
        font-weight: 700;
    }
}

.header-admin {
    color: white;
    margin-top: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
}