@import "../variables.scss";

.drink-holder {
    color: $color-white;

    .drink-main-container {

        .flex-contain {


            @media (max-width: 1120px) {
                align-items: center;
            }

            .drink-detail-button {
                border: none;
                outline: none;
                border-radius: 15px 15px 0px 0px;
                background-color: #ededed;
                color: black;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 700;
                letter-spacing: .5px;

            }

            .d-col-1200 {
                @media (max-width: 1120px) {
                    flex-direction: column;
                }
            }

            .rate {
                color: $color-gold;
            }

            .star {
                fill: rgb(255, 255, 255);
            }

            .gold {
                fill: gold;
            }

            .img-holder-details {
                margin-bottom: 12rem;
                padding: 2px;
                border: 2px solid white;
                border-radius: 20px;
                height: 650px;
                overflow: hidden;
                position: relative;


                @media (max-width:1200px) {
                    height: 550px;
                }

                .img-helper {
                    border-radius: 20px;
                    height: 650px;
                    padding-bottom: 5px;

                    @media (max-width:1200px) {
                        height: 550px;
                    }

                }
            }

            .description-holder {
                position: relative;
                max-height: 450px;
                height: 450px;
                text-align: justify;
                text-justify: inter-word;
                overflow-y: auto !important;
                border: 1px solid white;
                border-radius: 0px 15px 15px 15px;


                .line-spaced {
                    line-height: 1.6;
                    color: rgb(224, 224, 224);
                }
            }

            .ingrediets-list {
                max-width: $n-350px;
                max-height: $n-250px;
                list-style: none;
                font-size: 18px;

                .ing {
                    cursor: pointer;
                }

                .crossedOut {
                    text-decoration: line-through;
                    color: rgb(0, 255, 8);
                    text-decoration-thickness: 5px;

                    span {

                        text-decoration: none;
                        color: white;
                        cursor: pointer;
                    }
                }

                &>li::before {
                    content: "*";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    display: inline-block;
                    padding-top: 2px;
                    width: 1em;
                    margin-left: -1em;
                }
            }

            .preparation-holder {
                height: $n-400px;
                max-height: $n-400px;

                .nextPageArrow {
                    background-color: green($color: #000000);
                    fill: red;

                    &:hover {
                        fill: $color-rgb-163-161-161;

                    }
                }
            }

            .basic-information-drink {
                @include basicDrinksInf
            }


        }

    }

}