@import "../variables.scss";

.drink-holder {
    color: $color-white;

    .drink-main-container {

        @media (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flex-contain {
            @media (max-width: 1200px) {
                flex-direction: column;
                align-items: center !important;
            }

            .name-rating-holder {
                flex-direction: row;

                @media (max-width: 1470px) {
                    flex-direction: column;
                }

                .rating-holder {
                    @media (max-width: 1470px) {
                        margin-top: 1rem;
                    }
                }
            }

            .button-detail-holder {
                @media (max-width: 572px) {
                    flex-direction: column;
                }

                .drink-detail-button {
                    cursor: pointer;
                    border: 1px white solid;
                    border-radius: 10px;
                    padding: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    transition: all .3s ease-in-out;

                    &:hover {
                        border-radius: 20px;
                        background-color: grey;

                    }

                    @media (max-width: 572px) {
                        text-align: center;
                    }

                }
            }


            .drink-detail-button-activate {
                transition: all .3s ease-in-out;
                border: none;
                outline: none;
                border-radius: 15px 15px 0px 0px;
                background-color: #000000;
                color: white;
                padding: 5px;
                letter-spacing: .5px;
            }

            .d-col-1200 {
                @media (max-width: 1120px) {
                    flex-direction: column;
                }
            }

            .rate {
                color: $color-gold;
            }

            .star {
                fill: $rgb-255;
            }

            .gold {
                fill: gold;
            }

            .img-holder-details {
                margin-bottom: 12rem;
                padding: 2px;
                border-radius: 20px;
                height: 750px;
                overflow: hidden;
                position: relative;

                @media (max-width:1200px) {
                    height: 750px;
                }

                @media (max-width:800px) {
                    height: 550px;
                }

                .img-helper {
                    border-radius: 20px;
                    height: 650px;
                    max-width: 890px;
                    border: 1px solid white;
                    width: 600px;
                    max-width: 600px;

                    @media (max-width:1200px) {
                        height: 750px;
                        width: 1100px;
                        max-width: 1100px;
                    }

                    @media (max-width:800px) {
                        height: 550px;
                    }

                    @media (max-width:600px) {
                        width: 100%;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .description-holder {
                position: relative;
                max-height: $n-450px;
                height: $n-450px;
                text-align: justify;
                text-justify: inter-word;
                overflow-y: auto !important;
                border: 1px solid white;
                border-radius: 0px 15px 15px 15px;

                .line-spaced {
                    line-height: 1.6;
                    color: rgb(224, 224, 224);
                }
            }

            .ingredient-details-holder {

                @media (max-width:1200px) {
                    display: flex;
                    align-items: center;
                }

                .ingrediets-list {
                    max-height:  300px;
                    list-style: none;
                    font-size: 18px;

                    .ing {
                        cursor: pointer;
                        margin-top: 0.3rem;
                    }

                    .crossedOut {
                        text-decoration: line-through;
                        color: rgb(0, 255, 8);
                        text-decoration-thickness: 5px;

                        span {
                            text-decoration: none;
                            color: white;
                            cursor: pointer;
                        }
                    }

                    @media (max-width:1200px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 2rem;
                    }

                    &>li::before {
                        content: "*";
                        color: $rgb-255;
                        font-weight: bold;
                        display: inline-block;
                        padding-top: 2px;
                        width: 1em;
                        margin-left: -1em;

                        @media (max-width:1200px) {
                            content: "";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .basic-information-drink {
                @include basicDrinksInf
            }
        }

        .preparation-holder {
            height: 450px;

            .testKE {
                animation: shakeAnimation 2s infinite;
                animation-delay: 3s;
            }

            @keyframes shakeAnimation {
                0% {
                    transform: rotate(0deg);
                }

                20% {
                    transform: rotate(-5deg);
                }

                40% {
                    transform: rotate(0deg);
                }

                60% {
                    transform: rotate(5deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }


            .preparation-holder {

                .nextPageArrow {
                    background-color: green;
                    fill: red;

                    &:hover {
                        fill: rgb(163, 161, 161);
                    }
                }
            }
        }
    }
}