@import "../variables.scss";

.drink-holder {
    color: $color-white;

    .drink-main-container {

        .d-col-1200 {
            @media (max-width: 1120px) {
                flex-direction: column;
            }
        }

        .rate {
            color: $color-gold;
        }

        .star {
            fill: rgb(255, 255, 255);
        }

        .gold{
            fill: gold;
        }

        .img-holder-details {
            margin-bottom: 12rem;
            height: 450px;
            width: 450px;

            @media (max-width: 1200px) {
                width: 350px;
                height: 350px;
            }


            @media (max-width: 400px) {
                width: 100%;
            }

            @media (max-width: 1200px) {
                margin-bottom: 3rem;
            }

            box-shadow: 0px 0px 10px 3px rgb(219, 216, 147);
            padding: 2px;

            .img-helper {
                border: black 2px solid;
                height: 450px;
                width: 450px;

                @media (max-width: 1200px) {
                    width: 350px;
                    height: 350px;
                }
            }
        }

        .description-holder {
            max-width: 700px;
            max-height: 400px;
            text-align: justify;
            text-justify: inter-word;
            overflow-y: auto !important;
        }

        .ingrediets-list {
            max-width: $n-350px;
            max-height: $n-250px;
            list-style: none;
            font-size: 18px;

            .ing {
                cursor: pointer;
            }

            .crossedOut {
                text-decoration: line-through;
                color: rgb(255, 3, 3);
                text-decoration-thickness: 3px;


                span {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }

            }


            &>li::before {
                content: "-";
                color: rgb(255, 255, 255);
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }

        .preparation-holder {
            height: $n-400px;
            max-height: $n-400px;

            .nextPageArrow {
                background-color: green($color: #000000);
                fill: red;

                &:hover {
                    fill: $color-rgb-163-161-161;

                }
            }
        }

        .basic-information-drink {
            @include basicDrinksInf
        }
    }

}