.friends-modal-holder {
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    color: black;
    position: fixed;
    z-index: 1;
    right: 1%;
    bottom: 3%;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    height: 700px;

    .brand-friend {
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .close-friends-modal-icon {
        cursor: pointer;
        color: white;
    }

    .friend-input-holder {
        margin-top: 15px;

        .input-friend {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            font-size: 19px;
            border-radius: 10px;
            padding-left: 15px;
        }

    }

    .freinds-button-holder {
        padding-left: 1rem;
        padding-right: 1rem;

        .button-holder {
            color: white;
            border: 1px solid white;
            padding: 10px;
            width: 48%;
            text-align: center;
            transition: all .3s ease-in-out;
            font-size: 19px;
            cursor: pointer;
            border-radius: 10px;


            &:hover {
                background-color: rgba(220, 220, 220, 0.479);
                color: rgb(255, 255, 255);

            }
        }

        .button-friend-holder {}
    }

    .result-header {
        color: white;
        border-bottom: 1px solid white;
    }

    .border-white-1 {
        border-top: 1px solid white;
    }

    .user-data {
        color: white;

        .user-friend-img {
            height: 90px;
            width: 90px;
            border-radius: 10px;
        }

        .add-icon {
            fill: rgb(0, 194, 0);
            cursor: pointer;
        }

        .del-friend {
            fill: red;
            cursor: pointer;
        }
    }

    .user-friends-holder {


        .users-friend {
            color: white;
            padding-bottom: 5px;
            border-bottom: 1px solid white;
        }

        .user-friends-content {
            max-height: 100%;
            overflow-y: scroll;

            .items-holder {
                border: 1px solid white;
                padding: 5px;
                border-radius: 10px;
                margin-left: .5rem;
            }
        }
        
    }
}