@import "../variables.scss";

.user-drink-holder {
    @include drinksHolder;
    border-radius: 15px;

    .drink-img-favourite {
        border-radius: 15px;
        max-height: 250px;
        height: 250px;
        width: 100%;

        @media (max-width: 576px) {
            max-height: 150px;
            height: 150px;
        }

        @media (max-width: 768px) {
            max-height: 180px;
            height: 180px;
        }

        @media (max-width: 1200px) {
            max-height: 200px;
            height: 200px;
        }
        
    }

    .star {
        fill: $color-gold;
    }

}