//Poprwawić pozycję... zrobić jakoś inaczej
@import "../variables.scss";


.loginPopupHolder {
    right: 40%;
    top: $proc-20;
    transition: $trans-all-03-eio;

    @media (max-width: 768px) {
        right: 30%;
        top: $proc-20;
        transition: $trans-all-03-eio;
    }

    @media (max-width: 576px) {
        right: $proc-20;
        top: $proc-20;
        transition: $trans-all-03-eio;
    }

    .color-black {
        color: $color-black;
    }

    .close-icon {
        fill: $color-red;
        cursor: pointer;
    }

    .test {
        background-color: rgb(255, 255, 255);
    }
    .registerLink{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    .logRegHolder{
        padding-left: 3rem;
        padding-right: 3rem;

    }
}