//Poprwawić pozycję... zrobić jakoś inaczej
@import "../variables.scss";

.loginPopupHolder {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .color-black {
        color: $color-black;
    }

    .close-icon {
        fill: $color-red;
        cursor: pointer;
    }

    .test {
        background-color: rgb(255, 255, 255);
    }
    .registerLink{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    .logRegHolder{
        padding-left: 3rem;
        padding-right: 3rem;

    }
}