
@import "../variables.scss";


.SetingsPopupHolder {
    background-color: rgb(31, 31, 31);
    box-shadow: 5px 5px 6px 3px rgb(24, 24, 24);

    .options-holder {

        @media (max-width: 992px) {
           
            transition: font-size 0.3s ease-in-out;
            font-size: $font-size-15;
        }

        @media (max-width: 576px) {
            font-size: 12px;
        }

        .multi-options {

            @media (max-width: 992px) {
                margin-top: 0.8rem;
                margin-left: 0 !important;
            }
        }
    }

    .close-icon {
        fill: rgb(204, 24, 24);
        cursor: pointer;
    }

    .test {
        background-color: rgb(156, 156, 156);
        color: $color-black;
    }

    .special-button {
        color: $color-white;
        background-color: rgba(15, 15, 15, 0.795);
        transition: $trans-all-03-eio;
        font-size: $font-size-15;

        &:hover {
            background-color: $color-black;
        }

        @media (max-width: 768px) {
            font-size: 11px;

        }

        @media (max-width: 576px) {
            font-size: 10px;
        }
    }

}