.SetingsPopupHolder {
  background-color: rgb(31, 31, 31);
  box-shadow: 5px 5px 6px 3px rgb(24, 24, 24);
}
@media (max-width: 992px) {
  .SetingsPopupHolder .options-holder {
    flex-direction: column;
    transition: font-size 0.3s ease-in-out;
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .SetingsPopupHolder .options-holder {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .SetingsPopupHolder .options-holder .multi-options {
    margin-top: 0.8rem;
    margin-left: 0 !important;
  }
}
.SetingsPopupHolder .close-icon {
  fill: rgb(204, 24, 24);
  cursor: pointer;
}
.SetingsPopupHolder .test {
  background-color: rgb(156, 156, 156);
  color: black;
}
.SetingsPopupHolder .special-button {
  color: white;
  background-color: rgba(15, 15, 15, 0.795);
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}
.SetingsPopupHolder .special-button:hover {
  background-color: black;
}
@media (max-width: 768px) {
  .SetingsPopupHolder .special-button {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .SetingsPopupHolder .special-button {
    font-size: 10px;
  }
}

.loginPopupHolder {
  right: 40%;
  top: 20%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .loginPopupHolder {
    right: 30%;
    top: 20%;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 576px) {
  .loginPopupHolder {
    right: 20%;
    top: 20%;
    transition: all 0.3s ease-in-out;
  }
}
.loginPopupHolder .color-black {
  color: black;
}
.loginPopupHolder .close-icon {
  fill: red;
  cursor: pointer;
}
.loginPopupHolder .test {
  background-color: rgb(255, 255, 255);
}

.NavBar {
  z-index: 1;
}
.NavBarContentHolder {
  background-color: rgb(37, 37, 37);
  color: white;
  padding-bottom: 0rem;
}
.NavBarContentHolder .brand-name-SCROLL {
  display: flex;
}
@media (max-width: 575px) {
  .NavBarContentHolder .brand-name-SCROLL {
    display: none;
  }
}
.NavBarContentHolder .hamburger-SCROLL {
  display: none;
}
@media (max-width: 575px) {
  .NavBarContentHolder .hamburger-SCROLL {
    display: flex;
  }
}
.NavBarContentHolder .helper {
  width: 30px;
  height: 21px;
}
.NavBarContentHolder .helper .bar {
  height: 3px;
}
.NavBarContentHolder .searching-holder .searching-input {
  outline: none;
  background-color: rgb(22, 22, 22);
  color: white;
  box-shadow: 0px 6px 4px 0px black;
}
.NavBarContentHolder .searching-holder .searching-icon-holder {
  background-color: rgb(22, 22, 22);
  top: 15%;
  right: 2%;
  color: white;
}
.NavBarContentHolder .searching-holder .searching-icon-holder .icon {
  fill: white;
}
.NavBarContentHolder .options-holder .settings-button {
  background-color: rgb(37, 37, 37);
}
.NavBarContentHolder .options-holder .options-icon {
  fill: white;
}
.NavBar .main-options-holder {
  display: flex;
  background-color: rgb(37, 37, 37);
}
@media (max-width: 575px) {
  .NavBar .main-options-holder {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
  }
}
.NavBar .main-options-holder .options-list .elm-contents {
  color: white;
  transition: all 0.3s ease-in-out;
}
.NavBar .main-options-holder .options-list .elm-contents:hover {
  background-color: rgb(30, 30, 30);
}

.special-drinks-holder {
  position: fixed;
  left: 30%;
  z-index: 1;
}
@media (max-width: 768px) {
  .special-drinks-holder {
    font-size: 13px;
  }
}
.special-drinks-holder .helper {
  background-color: rgb(41, 41, 41);
  color: white;
}
.special-drinks-holder .helper .close-icon {
  fill: red;
  cursor: pointer;
}
@media (max-width: 575px) {
  .special-drinks-holder .helper .ingredients-input {
    width: 120px;
  }
}
.special-drinks-holder .helper .enter-button {
  background-color: black;
  color: white;
}
.special-drinks-holder .helper .test {
  max-height: 150px;
}
.special-drinks-holder .helper .test .drink-ingredient {
  background-color: white;
  color: black;
}
.special-drinks-holder .helper .drink-results {
  color: gold;
}
.special-drinks-holder .helper .search-special-drink-button {
  background-color: black;
  color: white;
}

.drink-holder {
  color: white;
}
.drink-holder .drink-main-container .star {
  fill: gold;
}
.drink-holder .drink-main-container .img-holder {
  height: 300px;
  width: 500px;
}
.drink-holder .drink-main-container .img-holder .drink-img {
  height: 100%;
  width: 100%;
}
.drink-holder .drink-main-container .description-holder {
  max-width: 700px;
  max-height: 300px;
}
.drink-holder .drink-main-container .ingrediets-list {
  max-width: 350px;
  max-height: 250px;
}
.drink-holder .drink-main-container .ingrediets-list-elm {
  list-style-type: disc;
}
.drink-holder .drink-main-container .preparation-holder {
  height: 400px;
  max-height: 400px;
}
.drink-holder .drink-main-container .basic-information-drink .drink-creator {
  color: black;
}
.drink-holder .drink-main-container .basic-information-drink .diff-level {
  background-color: rgb(6, 212, 6);
  color: black;
}
.drink-holder .drink-main-container .basic-information-drink .drink-taste {
  background-color: rgb(7, 243, 125);
  color: black;
}

.main {
  color: white;
}
.main .drin-window {
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 0px 5px 5px rgb(78, 78, 78);
  cursor: pointer;
}
.main .drin-window .img-holder .drink-img {
  max-height: 350px;
  height: 350px;
  width: 100%;
}
.main .drin-window .basic-information-drink .drink-name {
  color: white;
}
.main .drin-window .basic-information-drink .drink-creator {
  color: black;
}
.main .drin-window .basic-information-drink .diff-level {
  background-color: rgb(6, 212, 6);
  color: black;
}
.main .drin-window .basic-information-drink .rate {
  color: gold;
  font-size: 20px;
}
.main .drin-window .basic-information-drink .rate .star {
  fill: gold;
}
.main .drin-window .basic-information-drink .drink-taste {
  background-color: rgb(7, 243, 125);
  color: black;
}

.footer {
  color: white;
  background-color: rgb(37, 37, 37);
}
.footer .desc-container {
  max-width: 400px;
  font-size: 13px;
  color: rgb(185, 184, 184);
}
.footer .contact {
  font-size: 13px;
  color: rgb(185, 184, 184);
}
.footer-links {
  font-size: 13px;
  color: rgb(185, 184, 184);
}
.footer .instagram-icon {
  fill: black;
  transition: all 0.3s ease-in-out;
}
.footer .instagram-icon:hover {
  fill: red;
}
.footer .facebook-icon {
  fill: black;
  transition: all 0.3s ease-in-out;
}
.footer .facebook-icon:hover {
  fill: rgb(17, 144, 243);
}

.copyright {
  font-size: 13px;
  color: rgb(185, 184, 184);
  background-color: rgb(22, 22, 22);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
}

.testt {
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
}
.testt .arrow-up {
  fill: rgb(214, 214, 214);
}/*# sourceMappingURL=main.css.map */