@import "./navbarComponentsStyles/setingsPopup";
@import "./navbarComponentsStyles/loginPopup";
@import "./navbarComponentsStyles/navbar";
@import "./drinksComponentsStyles/specialPopup";
@import "./drinksComponentsStyles/drinksDetails";
@import "./drinksComponentsStyles/drink";
@import "./footer/footer";
@import "./userComponentsStyles/userStyles/userProfiil";
@import "./drinksComponentsStyles/userDrinks";
@import "./userComponentsStyles/userStyles/userProfile";
@import "./userComponentsStyles/adminStyles/mainAdminStyles";
@import "./userComponentsStyles/adminStyles/adminAlert";
@import "./userComponentsStyles/adminStyles/adminDrinkPreview";
@import "./chatStyle/chat";
@import "./friendsModal/friendsModal";

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
}

.pagination {
    @include pagination;
}

.main-holder {
    min-height: 373px;

    @media (min-width: 2300px) {
        min-height: 643px;
    }

    .arrowUP-holder {
        top: 68%;

        .arrow-up {
            fill: rgb(255, 255, 255);
            transition: all .2s ease-in-out;

            &:hover {
                fill: rgb(252, 217, 172);
                transform: translateY(-5px);
            }
        }
    }

    .chat-room-holder {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        padding: 15px;
        color: black;
        border-radius: 10px;
        border: 1px solid black;

        .close-room-IDs{
            cursor: pointer;
            font-size: 20px;
            color: red;
            font-weight: 700;

        }

        .room-id-input{
            background-color: transparent;
            outline: none;
            border: none;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            padding-left: 10px;
        }

        .join-to-room-button {
            border: 1px solid black;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 15px;
            font-size: 18px;
            background-color: #292929;
            color: white;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: #535353;
            }
        }

    }


    .chat-holder-icon {
        top: 75%;
        padding-right: 1.5rem;
        fill: white;
        cursor: pointer;
    }

    .firends-icon {
        top: 80%;
        padding-right: 1.5rem;
        fill: white;
        cursor: pointer;
    }
}

li {
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 1px solid #333333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444444;
}