@import "./navbarComponentsStyles/setingsPopup";
@import "./navbarComponentsStyles/loginPopup";
@import "./navbarComponentsStyles/navbar";
@import "./navbarComponentsStyles/specialPopup";
@import "./drinksComponentsStyles/drinksDetails";
@import "./drinksComponentsStyles/drink";
@import "footer";
@import "./userComponentsStyles/userProfiil";
@import "./drinksComponentsStyles/userDrinks";
@import "./userComponentsStyles/userProfile";

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}


.pagination {
    @include pagination;
}

.main-holder {
    min-height: 320px;

    .arrowUP-holder {
        top: 80%;

        .arrow-up {
            fill: white;

            &:hover {
                fill: rgb(251, 210, 156);
            }
        }
    }
}

li {
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 1px solid #333333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444444;
}