@import "../variables";

.footer {
    color: $color-white;
    background-color: $bg-ligherDark;
    border-top: $border-1-solid-black;

    .drink-footer-img {
        height: 190px;
    }

    .drink-count {
        font-family: $cursive;
    }

    .drink-count-number {
        font-size: 48px;
    }

    .desc-container {
        max-width: $n-400px;
        @include fs-13-color-light-grey;
    }

    .icon-footer-animate {
        cursor: pointer;
        &:hover {
            animation: footer-animate 1.3s linear ;
        }
    }

    @keyframes footer-animate {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }

    .contact {
        @include fs-13-color-light-grey;
    }

    &-links {
        @include fs-13-color-light-grey;
    }

    .instagram-icon {
        cursor: pointer;
    }

    .facebook-icon {
        cursor: pointer;
        fill: rgb(25, 119, 243);
    }
}

.copyright {
    @include fs-13-color-light-grey;
    background-color: $bg-dark;
}