//Poprwawić pozycję... zrobić jakoś inaczej
@import "../variables.scss";

.loginPopupHolder {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 0.625rem;
    box-shadow: 0 0 30px rgb(55, 55, 55);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;

    @media (max-width: 400px) {
        backdrop-filter: blur(120px);
    }

    .color-black {
        color: $rgb-251-242-234;
    }

    .close-icon-holder {
        right: 3%;
        top: 3%;

        .close-icon {
            fill: $color-red;
            cursor: pointer;
        }
    }

    .log-reg-icon-holder {
        border-radius: 5px 0px 0px 5px;
        background-color: rgba(163, 163, 163, 0.779);
        padding: 7px;
        border-right: $border-1-solid-black;

        .login-register-icon {
            fill: $rgb-255;
        }
    }

    .input-box {
        background-color: white;
        border: $border-1-solid-black;
        border-radius: 0px 5px 5px 0px;
        border-left: none;
        padding: 4px;

        .login-register-input-data {
            border: none;
            outline: none;
        }
    }

    .registerLink {
        color: rgb(118, 186, 255);
        text-decoration: underline;
        cursor: pointer;
    }

    .logRegHolder {
        padding-left: 3rem;
        padding-right: 3rem;

        .login-reg-header {
            letter-spacing: 2px;
        }
    }

    .login-register-errors {
        color: rgb(255, 0, 0);
        border-bottom: 1px solid white;
    }
}

.h-600 {
    height: 600px;
}

.h-500 {
    height: 500px;
}