@import "../variables.scss";


.SetingsPopupHolder {
    background-color: rgb(31, 31, 31);
    box-shadow: 5px 5px 6px 3px rgb(24, 24, 24);
    margin-top: 3.75rem;
    right: 10.5%;

    @media (min-width: 1400px) {
        flex: 0 0 20%;
        max-width: 20%;
    }

    @media (max-width: 768px) {
        margin-top: 3rem;
    }

    .options-holder-settings-popup {

        .unchecked {
            accent-color: white;
        }

        .checked {
            accent-color: rgb(33, 33, 244);
        }


        @media (max-width: 1097px) {
            flex-direction: column;
        }

        @media (max-width: 992px) {
            transition: font-size 0.3s ease-in-out;
            font-size: $font-size-15;
        }

        @media (max-width: 570px) {
            font-size: 1.125rem;
            flex-direction: row;
        }

        .multi-options {
            @media (min-width: 1097px) {
                margin-top: 0.8rem;
                margin-left: 0 !important;
            }

            @media (max-width: 570px) {
                margin-left: 3rem !important;

            }
        }
    }

    .close-icon {
        fill: rgb(204, 24, 24);
        cursor: pointer;
    }

    .test {
        background-color: rgb(156, 156, 156);
        color: $color-black;
    }

    .special-button {
        color: $color-white;
        background-color: rgba(15, 15, 15, 0.795);
        transition: $trans-all-03-eio;
        font-size: $font-size-15;

        &:hover {
            background-color: $color-black;
        }

        @media (max-width: 768px) {
            font-size: 0.688rem;

        }

        @media (max-width: 570px) {
            font-size: 1.125rem;
        }


    }

}