@import '../../variables.scss';

.fullscreen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
    z-index: 1000;
    color: white;
    overflow-y: scroll;

    .close-preview-icon-holder {
        .close-preview-icon {
            fill: red;
            cursor: pointer;
        }
    }


    .drink-ingredient-input {
        background-color: red($color: #ff0000);
    }

    .ingredients-and-preparation-holder {

        .drink-ingredient-input {
            background-color: red($color: #ff0000);
        }

        li::before {
            content: "★";
            margin-right: 0.5rem;
            color: gold;


        }

    }

    .star {
        fill: gold;
    }

    .data-drink-holder {
        margin-top: 3rem;
        margin-left: 1.5rem;


        .drink-detail-holder {
            border: 1px solid white;
            border-radius: 10px;
            padding: 15px;
            padding-left: 20px;
            padding-right: 20px;
        }


        .drink-name-input {
            background-color: rgb(221, 221, 221);
            border: white;
            border-radius: 10px;
            padding: 5px;
            padding-left: 10px;
        }

        .drink-ingredient-input {
            background-color: transparent;
            border: none;
            border-bottom: white 2px solid;
            color: white;
            padding-left: 5px;

            &:focus {
                border-radius: 10px;
            }
        }

        .Multi-options-holder {
            max-width: 25px
        }

        .drink-creator,
        .diff-level,
        .sourClass,
        .sweetClass,
        .alkoClass,
        .softClass,
        .bitterClass,
        .easyLevelClass,
        .mediumLevelClass,
        .hardLevelClass {
            @include drinks;

            &.sweetClass {
                color: rgb(247, 71, 124);
            }

            &.sourClass {
                color: rgb(218, 255, 32);
            }

            &.bitterClass {
                color: rgb(123, 98, 98);
            }

            &.easyLevelClass {
                color: rgb(10, 226, 10);
                margin-right: 0.3rem;
            }

            &.mediumLevelClass {
                color: rgb(239, 212, 14);
                margin-right: 0.3rem;
            }

            &.hardLevelClass {
                color: rgb(255, 111, 0);
                margin-right: 0.3rem;
            }


            &.diff-level {
                color: $color-light-l-green;
                color: $color-black;
            }

            &.drink-creator {
                color: white;
            }

            &.softClass {
                color: rgb(154, 246, 249);

                @media (max-width: 768px) {
                    margin-top: 0.6rem;
                }
            }

            &.alkoClass {
                color: rgb(255, 0, 0);

                @media (max-width: 768px) {
                    margin-top: 0.6rem;
                }
            }
        }
    }

    .description-holder {
       
        overflow-y: scroll;
        height: 200px;
        max-height: 200px;
        background-color: rgb(26, 26, 26);
        color: white;
        border-radius: 5px;
        padding: 1rem;
        resize: none;
    }

    .polowa2 {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;

        .photo-holder {
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            border: 2px solid rgb(255, 255, 255);
            overflow: hidden;
            max-height: 600px;
            height: 600px;
            width: 750px;
            .drink-img-prev {
                max-height: 600px;
                height: 600px;
                width: 750px;
                overflow: hidden;
                object-fit: cover;
                
            }

            .overlay-user-img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                font-size: 17px;
                letter-spacing: 1px;
                border-radius: 10px;
                opacity: 0%;
                transition: all .4s ease-in-out;

                &:hover {
                    background-color: black;
                    opacity: 80%;
                }

                input[type="file"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
    }
}