@import '../../variables';

.window-alert-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: $border-1-solid-black;
    height: 170px;
    border: 2px solid black;

    .confirming-button {
        border: none;
        outline: none;
        background-color: transparent;
        border: 1px solid black;
        font-size: 17px;
        border-radius: 15px;
        padding: .35rem;
        padding-left: .9rem;
        padding-right: .9rem;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: rgb(124, 213, 76);
        }
    }

    .not-confirming-button {
        border: none;
        outline: none;
        background-color: rgb(255, 210, 210);
        border: 1px solid black;
        font-size: 17px;
        border-radius: 15px;
        padding: .35rem;
        padding-left: .9rem;
        padding-right: .9rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgb(255, 0, 0);
            color: white;
        }
    }
}

.announcements {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;

    &-succes {
        background-color: greenyellow;
        border-radius: 15px;
    }

    &-user-doesnt-exist {
        background-color: orange;
        border-radius: 15px;
    }

    &-error {
        background-color: red;
        border-radius: 15px;
    }
}