@import '../../variables.scss';

.drinks-profile-holder {
    border: 2px solid white;
    border-radius: 15px;


    .sourClass {
        color: rgb(218, 255, 32);
    }


    .sweetClass {
        color: rgb(247, 71, 124);
    }

    .sourClass {
        color: rgb(218, 255, 32);
    }

    .bitterClass {
        color: rgb(143, 126, 126);
    }

    .easyLevelClass {
        color: rgb(91, 208, 91);
    }

    .mediumLevelClass {
        color: rgb(239, 212, 14);
    }

    .hardLevelClass {
        color: rgb(255, 111, 0);
    }

    .diff-level {
        color: $color-light-l-green;
    }

    .drink-creator {
        color: $color-black;
    }

    .softClass {
        color: rgb(154, 246, 249);
    }

    .alkoClass {
        color: rgb(243, 22, 22);
    }

    .data-holder {

        .drink-name-profile {
            max-height: 100px;
            overflow-y: auto;

        }

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        .margin-top-12 {
            @media (max-width: 1000px) {
                margin-top: 0.5rem !important;
                margin-bottom: 0.5rem !important;
                display: flex;
                flex-direction: column;
            }
        }

        .drink-profile-holder-IMG {
            border: 1px solid white;
            border-radius: 10px;

            .drink-profile-img {
                object-fit: cover;
                border-radius: 10px;
                max-height: 200px;
                min-height: 200px;
                min-width: 250px;
                max-width: 250px;

                @media (max-width: 992px) {
                    max-width: 400px;
                    width: 400px;
                    height: 300px;
                    max-height: 300px;

                }

                @media (max-width: 680px) {
                    max-width: 250px;
                    width: 250px;
                }

                width: 900px;
            }
        }
    }

    .drink-name-profile {
        font-size: 22px;
        font-weight: 700;
        color: rgb(252, 218, 174);

    }

    .details-button-holder {

        .details-button {
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            font-size: 17px;
            letter-spacing: 1px;
            padding: 4px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 18px;
            margin-left: 8rem;

            @media (max-width: 1400px) {
                margin-left: 0;
            }
        }

        .userDataChangerError {
            margin-left: 8.2rem;
            color: red;
            margin-top: 1rem;
        }

        .user-data-input {
            border-radius: 10px;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        .submit-button {
            font-size: 0;
            background: none;
            border: none;

        }

        .details-change-button {
            fill: rgb(4, 210, 4);
            cursor: pointer;
        }
    }

    .delete-profile {
        margin-left: 15rem;

        @media (max-width: 1800px) {
            margin-left: 1rem;
        }

        &-icon {
            fill: red;
            cursor: pointer;
        }

        .accept-derink-icon {
            fill: greenyellow;
            cursor: pointer;
        }

    }
}