.drinks-profile-holder {
    border: 2px solid white;
    border-radius: 15px;
    


    .data-holder {
        width: 1000px;

        .drink-profile-holder-IMG {
            border: 1px solid white;
            border-radius: 10px;

            .drink-profile-img {
                border-radius: 10px;
                max-height: 200px;
                min-height: 200px;
                min-width: 250px;
                max-width: 250px;
            }


        }

    }

    .drink-name-profile {
        font-size: 22px;
        font-weight: 700;
        color: rgb(252, 218, 174);

    }

    .details-button-holder {


        .details-button {
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            font-size: 17px;
            letter-spacing: 1px;
            padding: 4px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 18px;
            margin-left: 8rem;

        }

        .userDataChangerError {
            margin-left: 8.2rem;
            color: red;
            margin-top: 1rem;
        }

        .user-data-input {
            border-radius: 10px;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        .submit-button {
            font-size: 0;
            /* Ukrywa tekst wewnątrz przycisku */
            background: none;
            /* Opcjonalnie, aby usunąć tło przycisku */
            border: none;
            /* Opcjonalnie, aby usunąć obramowanie przycisku */
        }


        .details-change-button {
            fill: rgb(4, 210, 4);
            cursor: pointer;
        }

    }

    .delete-profile {
        justify-content: end;

        &-icon {
            fill: red;
            cursor: pointer;
        }

        .block-icon-profile {
            fill: rgb(255, 132, 0);
            cursor: pointer;
        }

    }
}