@import "../../variables";

.DropdownProfilMenu {
 
  color: $color-white;
  padding: 0;
  z-index: 1;
  border: 1px solid white;
  border-radius: 10px 0px 10px 10px;
  padding: 10px;
  padding-left: 6px;
  padding-right: 6px;
  width: 160px;
  background-color: rgb(31, 31, 31);
  margin-right: 10px;
  text-decoration: none;

  &-elm {
    width: 100%;
    border: 1px solid white;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.3px;
    border-radius: 10px;
    margin-bottom: 7px;
    background-color: rgb(31, 31, 31);
    font-weight: 700;
    font-size:  17px;

    @media (max-width:768px) {
      width: 100%
    }

    &:hover {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.786) 50%);
      background-size: 200% 100%;
      background-position: right;
      transition: all 0.5s ease-out;
      color: $color-black;
    }
  }
}

.dropArrow {
  fill: white;
  transition: all .3s ease-in-out;

  @media (max-width:575px) {
    display: none;
  }
}

.rotate180 {
  transform: rotate(180deg);
}



a {
  text-decoration: none;
  color: inherit;
}