@import "../../variables";


.users-own-deink {
    background: linear-gradient(to top right, rgb(255, 255, 255), rgb(50, 50, 50));
    border: 2px solid black;
    border-radius: 5px;
    color: $color-black;

    .own-drink-box-input {
        border-bottom: solid 1px black;

        .own-drink-input-name {
            background-color: transparent;
            border: none;
            color: rgb(0, 0, 0);
            outline: none;

            &::placeholder {
                color: black;
            }
        }
    }

    .file-drink-input {
        color: red;
    }

    .ing-input {
        background: linear-gradient(to top right, rgb(255, 255, 255), rgb(172, 172, 172));
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: none;
        outline: none;
    }

    .addison-button {
        display: inline-block;
        padding: 4px 9px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 10px;
        user-select: none;
        background-color: grey;
    }

    .ing-container {
        max-height: 150px;
        overflow-y: auto;

        .ing {
            background: linear-gradient(to top right, rgb(255, 255, 255), rgb(172, 172, 172));
            border-radius: 10px;
            border: black solid 1px;
            padding-left: 10px;
            padding-top: 5px;
            overflow: hidden;

        }

        .theX {
            margin-left: 5px;
            margin-top: 5px;
            color: red;
            font-size: 18px;
            border-radius: 10px;
            font-weight: 700;
            cursor: pointer;

        }
    }
}

.own-drink-popup-holder {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    .close-icon {
        fill: red;
        cursor: pointer;
    }

    .own-drink-input-name {
        @include border-1-solid-black;
    }

    .drink-img-box {
        background-color: transparent;

        .own-drink-img-holder {
            background-color: transparent;
            @include border-1-solid-black;

        }
    }

    .own-drink-desc {
        height: 130px;
        max-height: 130px;
        min-height: 100px;
        background: linear-gradient(to top right, rgb(255, 255, 255), rgb(172, 172, 172));
        border: 2px black solid;
        border-radius: 10px;

    }
}


.user-img-holder {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    max-height: 380px;
    height: 380px;

    .overlay-user-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        letter-spacing: 1px;
        border-radius: 10px;
        opacity: 0%;
        transition: all .4s ease-in-out;

        &:hover {
            background-color: black;
            opacity: 80%;
        }

        input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    .user-img {
        height: 100%;
    }
}

.user-details-holder {
    color: $color-white;


    .user-data-box {
        border: 1px solid white;
        border-radius: 10px;
        padding: 4px;
    }

    .user-data-box-input {
        background-color: transparent;
        border-radius: 10px;
        border: none;
        color: white;
        outline: none;

        &::placeholder {
            color: white;
        }
    }

    .user-data-box:focus-within {
        border-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.2);
    }


    .user-data-button-submit {
        @include user-profile-button;
        background-color: rgb(255, 255, 255);

        &:active {
            background-color: rgb(216, 216, 216);
            transform: translateY(2px);
        }
    }

    .about-me {
        color: $color-white;
    }

    .badges-holder {
        align-items: center;
        justify-content: center;
        border: solid white 2px;
        height: 400px;
        max-height: 400px;
        overflow-y: auto;

        @media (max-width: 1400px) {
            margin-top: 5rem;
        }

        @media (max-width: 700px) {
            height: 500px;
            max-height: 500px;
        }

        .badges-start {
            font-size: 1.25rem;
        }
    }

    .scroll-arrow-fav-own-box {
        background-color: transparent;
        opacity: 70%;
        height: 50px;
        display: flex;
        align-items: center;

        .scroll-arrow-fav-own {
            fill: white;
            cursor: pointer;

            &:hover {
                fill: rgb(178, 178, 178);
            }
        }
    }

    .favourite-holder-user-drink {
        margin-bottom: 7rem;
        padding: 1.5rem;
    }

    .user-favourite-frinks-holder {
        margin-top: 4rem;
        margin-left: 1rem;
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;

        @media (max-width: 576px) {
            margin-left: 0 !important;
        }
    }
}

.change-data-input-user {
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.add-your-drink-button {
    @include user-profile-button;
    background-color: rgb(100, 253, 110);

    &:active {
        transform: translateY(2px);
    }
}

.edit-your-drink-button {
    @include user-profile-button;
    background-color: rgb(217, 255, 103);

    &:active {
        transform: translateY(2px);
    }
}